$main-font-family: "Mulish", sans-serif;
$main-text-color: #111111;
$color-primary: #111111;
$color-hover-link: #007BFF;
$color-hover-icon: #0bde6a;
$logo-font-size: 24px;
$nav-link-font-size: 18px;
$text-font-size: 16px;

$margin-bottom: 10px;
$column-spacing: 50px;

$base-padding: 20px;
$section-margin: 50px;
$content-max-width: 1200px;
$grid-gap: 20px;
$border-color: #000;
