footer {
    color: #111111;
    height: 23px;
    text-align: center;
    margin: 50px;
    padding: 0 10px; /* Padding for left and right */
}

.footer-container {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Vertically center items */
    width: 100%; /* Limit width for container */
}

.logo {
    font-size: 16px; // example font size
    font-weight: bold;
}
nav {
    margin-left: auto;
}
.nav ul {
    list-style-type: none; /* Remove default list bullet */
    padding: 0; /* Remove list padding */
    margin: 0; /* Remove list margin */
}
.nav ul li {
    display: inline;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0; /* Remove padding */
   
}
.nav ul li a {
    margin: 0 15px; /* Space between nav items */
    color: #111111; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

.nav a:hover {
    color: #ba1414; /* Light color on hover */
}


.social-icons {
    display: flex; /* Flexbox for icons */
    gap: 10px; /* Space between icons */
    margin-left: 30px;
}

.social-icons i {
    margin-left: 15px; /* Space between icons */
    font-size: 24px; /* Icon size */
    color: #111111; /* Default color */
    cursor: pointer; /* Change cursor to pointer */
    transition: color 0.3s; /* Smooth color transition */
}

.social-icons i:hover {
    color: #0bde6a; /* Change color on hover */
}